html {
  background-color: #171717;
  color: white;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
  padding: 0;
}

.main-container {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

.header {
  height: 700px;
  background-image: url(./assets/yusrbg.jpg);
  background-size: cover;

}

.gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.705));
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;

}

.nav-right {
  margin-top: 1.25em;
  margin-right: 9px;

}

.hamburger {
  background-color: #4c64e9;
  border-radius: 100px;
  color: #fff;
  font-size: 10px;
  padding: 10px;
}

.hamburger:hover {
  background-color: #2b3b80;
  cursor: pointer;
}

#main-title {
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-align: right;
  margin-right: 10%;
}

#subtitle {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: right;
  margin-top: 10px;
  margin-right: 10%;
}

#main-button {
  background-color: #4c64e9;
  border: none;
  border-radius: 100px;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 20px;
  margin-right: 10%;
  float: right;
}

#main-button:hover {
  background-color: #2b3b80;
  cursor: pointer;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.close-nav {
  background-color: transparent;
  border-radius: 100px;
  color: #4c64e9;
  position: absolute;
  right: 0;
  margin-right: 5px;
  margin-top: 10px;
}

.close-nav:hover {
  background-color: #2b3b80;
  cursor: pointer;
}

#first-li-element {
  margin-top: 4px;
  padding-top: 5%;
}



a {
  display: block;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -1px;
  padding: 6.5px 13px;
  text-decoration: none;
  margin: 4px;
}

.universities-content {
margin-bottom: 59px;
  justify-content: end;
}

.universities-title {
  font-family: Roboto, sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
  background-color: #111111ea;
  width: 50%;
  margin: auto;
  border-radius: 0.8rem
}

.universities-list {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 1rem;  
background-color: #171717;
 
}

.university {

  text-align: center;

}

.university:hover {
  cursor: pointer;
  transform: rotate(3deg);
  transition: transform 0.5s;
}

.uni-name {
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  margin: auto;
}

.contact-us {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  height: 55vh;


}

.contact-us-content {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.contact-us-title {
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: 900;
}

.contact-us-subtitle {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 540;
  margin-top: 8px;
  padding: 5px;
}

.telegram-send {
  display: flex;
  justify-content: center;
  border: #fff solid 1px;
  width: 35%;
  padding: 2px;
  box-shadow: 0 0 5px #d1d4e2;
  margin: 0 auto;
  cursor: pointer;
}


.telegram-icon {
  padding: 0px 10px 0px 5px;
  ;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  background-color: #fff;
  color: #181818;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;


}

.footer-content {

  justify-content: space-between;
  padding: 10px;
}



@media screen and (max-width: 800px) {
  .header {
    height: 500px;
  }

  .telegram-send {
    width: 50%;
  }

  
.universities-list {
  grid-template-columns: repeat(2, 1fr);
   
  }

  .uni-name {
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.2px;
  }

  .footer {
    position: relative;
    bottom: 0;
    font-size: 12px;
  }
}